<div class='navigation'>
    <div routerLink="/about">
        <img src="../../assets/arrow_back_white_24dp.svg" alt="Back">
    </div>
    <div routerLink="/projects">
        <img src="../../assets/arrow_forward_white_24dp.svg" alt="Back">
    </div>
</div>
<div class="imgs">
    <img src="../../assets/html5.svg" alt="Html Logo">
    <img src="../../assets/css-5.svg" alt="Css Logo">
    <img src="../../assets/bootstrap-4.svg" alt="bootstrap Logo">
    <img src="../../assets/angular-icon-1.svg" alt="Angular Logo">
    <img src="../../assets/typescript.svg" alt="Ts Logo">
    <img src="../../assets/logo-javascript.svg" alt="Js Logo">
    <img src="../../assets/nodejs-1.svg" alt="NodeJs Logo">
    <img src="../../assets/express-109.svg" alt="Express Logo">
    <img src="../../assets/mongodb.svg" alt="MongoDb Logo">
    <img src="../../assets/mysql-5.svg" alt="MySQL Logo">
    <img src="../../assets/firebase-1.svg" alt="FireBase Logo">
</div>