.home{
    width: 50%;
    margin: auto;
    padding-top: 300px;
}

.home h1{
    font-size: 3em;
    margin-bottom: 20px;
}

.arrow__down{
    font-size: 0.6em;
    margin-top: 250px;
}

.arrow__down:hover p{
    color: orange;
    font-size: 1em;
}
.arrow__down:hover{
    font-size: 1em;
}

@media (max-width:768px) {
    .home h1{
        font-size: 2em;
        margin-bottom: 20px;
    }
}

@media (max-width:500px) {
    .home h1{
        font-size: 1em;
        margin-bottom: 20px;
    }
}