<div class='arrow__up' routerLink="/home">
    <img src="../../assets/arrow_upward_white_48dp.svg" alt="home_nav">
    <p>Get me home.</p>
</div>
<div  class=text>
    <h3>Hi, my name is Marco Machado, i'm from Cabeceiras de Basto and i'm a web developer.</h3>
    <br>
    <h3>I always liked to spend time on the computer, so when I had to choose which course I was going to take it seemed obvious to pick Informatics Engineering, so i did it. I applied to IPB(Instituto Politécnico de Bragança) and i got in! </h3>
    <br>
    <h3>There i learned several subjects, but the one that captivated me the most was web development, it gives us the possibility to be creative, to challenge ourselves with each project we build and when we finish is so satisfying.</h3>
    <br>
    <h3>After 4 years I graduated and then i decided to take a break to focus on myself and learn new <a routerLink="/skills">languages</a>.Now, my goal is to keep learning and create new and fascinating <a routerLink="/projects">projects</a> to share with the world!. </h3>
    <br>
    <h3>That’s all I have to say about me, feel free to get in <a href="mailto:marcomachadowebdev@gmail.com">touch</a>, i will happily  responde.
    </h3>
</div>